.profile {
  $id: &;

  #{$id}__container {
    margin: 0 $mobile-page-margin $mobile-page-margin $mobile-page-margin;
    @include desktop() { margin: 0 $page-margin $page-margin $page-margin;}
    @include desktop() { max-height: 200px;}
    @include large-phone(){ display: flex;}

    #{$id}__image {
      width: 100%;
      display: flex;
      justify-content: center;
      @include large-phone(){ width: 30%;}

      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 3px solid $color-black;
      }
    }

    #{$id}__image--right{
      order: 2;
    }

    #{$id}__info {
      @include tablet-max() {
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }

    #{$id}__info--left {
      margin-left: $mobile-page-margin;
      @include desktop() { margin-left: $page-margin;}
    }

    #{$id}__info--right {
      margin-right: $mobile-page-margin;
      @include desktop() { margin-right: $page-margin;}
      }
    }
  }
}