// Colors
$color-white: white;
$color-yellow: yellow;
$color-black: black;
$color_grey: gray;
$color-grey-light: #FAFAFA;

$overlay-dark: rgba(0,0,0,0.6);
$overlay_light: rgba(255,255,255,0.3);
$overlay-yellow: rgba(255,255,0,0.6);

// Fonts
$font-main: 'Roboto Mono', monospace;
$font-secondary: 'Abel', sans-serif;
// Margins
$page-margin: 50px;
$mobile-page-margin: 20px;

//Media Widths
$tablet-width: 768px;
$desktop-width: 1024px;