.landing{
  height: 100vh;

  &__background-image{
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__overlay{
    background-color: $overlay_light;
    height: 100%;
  }

  &__text{
    margin: 0 $page-margin;
  }
}