.about{
  $id: &;

  #{$id}__container{
    margin: $mobile-page-margin $mobile-page-margin;
    @include desktop() {
      margin: $page-margin $page-margin;
    }
    #{$id}__title{
    }

    #{$id}__content{

    }
  }
}