.section {
  $id: &;

  &__container {
    @include tablet() {
      display: flex;
      height: 50vh;
    }

    #{$id}__side {
      @include tablet() {
        width: 50%;
      }

      #{$id}__image{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include tablet(){
          height: 100%;
        }
      }

      #{$id}__context{
        margin-top: 30px;
        @include tablet-max(){
          margin-bottom: 30px;
          text-align: center;
        }
        h2{
          margin-bottom: 20px;
        }
      }
    }

    #{$id}__left {
      order: 1;

      #{$id}__context{
        margin-left: $page-margin;
        margin-right: 50px;
      }
    }

    #{$id}__right {

      #{$id}__context{
        margin-right: $page-margin;
        margin-left: 50px;

      }
    }
  }
}