.renders{
  height: 100vh;
  background: url("../../imgs/gimnasio.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__container{
    margin: 0 $page-margin;
  }

  &__content{
    display: flex;
  }

  &__image{
    width: 90%;
    margin-left: auto;
    img{
      width: 100%;
    }
  }
}